@use 'utility';

header{
    padding: 20px;
    ul{
        list-style: circle;
        li{
            text-decoration: underline;
        }
    }
}
.dropdown-menu {
    background-color:pink; 
    border: 2px solid white;
}

.btn{
    background-color: red;
}
.btn:hover{
    background-color: blue;}

@include utility.devices(desktop, laptop, tablet, mobile) {
  .typo-1 {
    text-align: center;
  }
}