/*@Import esta deprecated. El estandar recomendado para usar los @import es @use
ya que la antigua regla @import ha sido oficialmente marcada como obsoleta (deprecated) y será eliminada en futuras versiones.*/
@use './utils/variables' as vars;
@use './utils/utility' as utility;
@use './components/navbar';
@use './components/footer';
@use '../scss/base/typography';
@use './components/buttons';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: vars.$bg-color;
  background: vars.$bg-color; 
}
img {
  max-width: 100%;
  height: auto;
}

/*sass | scss */
