// Variables globales
$bg-color:#212121; // fondo
$bg-color-nav: #1C1C1C; // fondo de la barra de navegación y footer
$text-color: #FAFAFA; // texto principal y bordes
$primary-accent: #08BC08; // botones o títulos importantes
$button-bg: #FF8C00; // botones y titulos

// NUEVO: Mapa para bucles (@each)
$social-colors: (
    /* Azul clásico pero vibrante de Facebook */
    "facebook":  #1877F2, 
    
    /* El celeste característico de Twitter/X */
    "twitter":   #1DA1F2, 
    
    /* El rosa/lila fuerte de Instagram */
    "instagram": #E1306C, 
    
    /* El violeta "Blurple" oficial de Discord */
    "discord":   #5865F2  
);