// Variables globales
$bg-color:#212121; // fondo
$bg-color-nav: #1C1C1C; // fondo de la barra de navegación y footer
$text-color: #FAFAFA; // texto principal y bordes
$primary-accent: #08BC08; // botones o títulos importantes
$button-bg: #FF8C00; // botones y titulos

// NUEVO: Mapa para bucles (@each)
$social-colors: (
    "facebook":  #1877F2, 
    "twitter":   #1DA1F2,  /* Ojo: Twitter ahora es X, pero el celeste queda mejor en webs */
    "instagram": #E1306C, 
    "discord":   #5865F2  
);