@use '../utils/variables' as v;

// Placeholder para @extend (Estilo base de botón)
%btn-base {
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

// Botón estándar
.btn-gaming {
    @extend %btn-base; // Aplica estilos base
    background-color: v.$primary-accent;
    color: var(--bg-color-nav);

    &:hover {
        background-color: lighten(v.$primary-accent, 10%);
    }
}

btn-social-facebook {
    @extend %btn-base;
    background-color: map-get(v.$social-colors, "facebook");
    color: #fff;

    &:hover {
        background-color: darken(map-get(v.$social-colors, "facebook"), 10%);
    }
    
}
.btn-social-twitter {
    @extend %btn-base;
    background-color: map-get(v.$social-colors, "twitter");
    color: #fff;

    &:hover {
        background-color: darken(map-get(v.$social-colors, "twitter"), 10%);
    }
}
