@use '../utils/variables' as v;
@use '../utils/mixins' as mixins;
// Bucle para generar clases de redes sociales
@each $red, $color in v.$social-colors {
    .nav-link-#{$red} {
        color: v.$text-color;
        border-left: 3px solid transparent;
        transition: all 0.3s ease;

        &:hover {
            color: $color; // Usa el color específico de la red (azul, celeste, rosa, etc.)
            border-left: 3px solid $color;
            background-color: rgba($color, 0.1);
            padding-left: 10px; // Efecto de desplazamiento
        }
    }
}
// Placeholder para @extend (Estilo base de botón)
%btn-base {
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

// Botón estándar
.btn-gaming {
    @extend %btn-base; // Aplica estilos base
    @include mixins.button-variant(v.$primary-accent, v.$text-color);
}

.borders{
    border: 2px solid v.$primary-accent;
}
